.title h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #5A5A7A;
}

.list_menuA {
  font-size: 25px;
  border-radius: 0;
  margin-left: 0px;
  padding-left: 5px;
  color: #fff;
  outline: none;
  border-left: 2px solid;
  color: #002424;
}
.list_menuA:hover {
  border-left: 2px solid;
  padding-left: 10px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
}

.list_menuLi {
  margin: 20px 0;
  padding-left: 10px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.menu {
  padding: 5vh 50px;
  position: fixed;
  background: rgba(20, 20, 20, 0.1);
  height: 100vh;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-right: 13px solid #131817;
  border-top: 7px solid #131817;
  left: -320px;
  overflow: auto;
}
.menu:hover {
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.list_menu {
  margin-bottom: 50px;
}