@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a::visited {
  text-decoration: none;
}
a::hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 550;
}

div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 35px;
  margin-bottom: 70px;
  background: #c5c8de;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 50%;
  width: 50%;
  color: #426342;
}
div.polaroid:hover {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}

div.container {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  border-radius: 35px;
}

#ImgLeft {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
  height: 400px;
  width: 650px;
  margin: 15px;
}

#ImgRight {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
  height: 50%;
  width: 50%;
  margin: 10px;
}

#H {
  height: 50%;
  width: 50%;
}

img {
  border-radius: 35px;
  display: flex;
  height: 80%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#ImgRight {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
  height: 400px;
  width: 650px;
  margin: 10px;
}

#ImgKu {
  height: 500px;
  width: 550px;
}

.Img {
  border-radius: 35px 35px 0 0;
  width: 100%;
}

p {
  font-size: 20pt;
  color: #002424;
}

.page {
  margin-top: 110px;
  flex: 1 1 auto;
}

.footerDetail {
  padding: 5px;
}

.h1Detail {
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: calc(35px + 0.859375vw);
  color: #568852;
  padding: 2px;
}

.h1detail:hover {
  color: #568852;
  font-size: calc(35px + 0.859375vw);
}

.detailA {
  text-decoration: none;
  border-radius: 5px;
  margin-left: 0px;
  font-size: 20pt;
  color: #383c5e;
  outline: none;
}
.detailA:hover {
  color: #000;
}

@media only screen and (min-width: 766px) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf?cgi77b") format("truetype"), url("../fonts/icons.woff?cgi77b") format("woff"), url("../fonts/icons.svg?cgi77b#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^=icon-]::before,
  [class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-caret-up {
    position: fixed;
    bottom: 150px;
    right: 50px;
    font-size: 50px;
    z-index: 9999;
    color: #9c9faf;
  }
  .icon-caret-up:before {
    content: "\e900";
  }
  .icon-caret-up:hover {
    color: #252532;
  }
  .isShowBtn {
    opacity: 1;
    transition: 0.4s;
  }
  .isShowBtn_hide {
    opacity: 0;
  }
  .mainPage h2 {
    color: #dcdcdc;
  }
  .Img {
    border-radius: 35px;
    width: 100%;
  }
  .polaroid {
    display: inline-block;
    position: relative;
  }
  .polaroid div {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 5px 5px 10px;
    color: #bbbbbb;
  }
  .polaroid:hover div {
    display: block;
  }
  body {
    background: #e4e7ff;
  }
  body.lock {
    overflow: hidden;
  }
  html {
    background: #e4e7ff;
  }
}
.Andrew_DescentPage.Show {
  display: inline;
}
.Andrew_DescentPage.Hide {
  display: none;
}

.mainPage {
  margin-top: -60px;
}
.mainPage.Hide {
  display: none;
}
.mainPage.Show {
  display: inline;
}

.Page {
  position: relative;
  bottom: 35px;
  display: none;
}
.Page h2 {
  position: relative;
  bottom: 10px;
  margin: 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.con {
  margin: 135px 0px 0px 0px;
}

h3 {
  border-radius: 30px;
  text-align: center;
  font-size: 25pt;
  color: #383c5e;
  font-size: calc(25px + 7.7 * (100vw - 320px) / 1280);
  margin: 10px;
}

h2 {
  border-radius: 30px;
  text-align: center;
  font-size: calc(30px + 7.7 * (100vw - 320px) / 1280);
  color: #383c5e;
  margin: 0px;
}

.hide {
  display: none;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e4e7ff;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #8691e3;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

footer.loaded {
  display: none;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  z-index: 9999;
}

.header_list {
  display: flex;
  position: relative;
  z-index: -2;
  display: block;
}
.header_list li {
  margin: 10px 0px 0px 0px;
}

.input {
  z-index: 3;
  padding: 5px;
  background: rgb(236, 234, 234);
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 20%;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
}

.h1 {
  z-index: 3;
  font-size: calc(30px + 0.859375vw);
  left: 40%;
  display: flex;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 35pt;
  color: #3f404a;
}
.h1 :hover {
  color: #5d5e6d;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9d9fb0;
  z-index: 30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.list_menuA {
  color: #5a5a7a;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .list_menuA:hover {
    color: #000000;
    margin-left: 10px;
  }
}
.header_burger {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.header_burger::before, .header_burger::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header_burger::before {
  top: 0;
}
.header_burger::after {
  bottom: 0;
}
.header_burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
}
.header_burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.header_burger.active::before {
  transform: rotate(45deg);
  top: 9px;
  background: #9d9fb0;
}
.header_burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
  background: #9d9fb0;
}

.header_menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e4e7ff;
  display: block;
  text-align: left;
  transition: all 0.3s ease 0s;
  padding: 60px 10px 20px 10px;
  overflow: auto;
  z-index: -3;
}
.header_menu.active {
  top: 0;
}

body.lock {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .header_menu {
    background-color: #f5fff5;
  }
  .header::before {
    background-color: #a9b0a9;
  }
}
@media only screen and (max-width: 767px) {
  .h1IstorichniFoto {
    font-size: calc(10px + 0.859375vw);
  }
}
.IstorichniFotoA {
  color: #000000;
}
.IstorichniFotoA:hover {
  font-size: calc(30.1px + 7.7 * (100vw - 320px) / 1280);
}

.list_menuAIFP {
  display: block;
  text-align: center;
}

.containerIF {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  background: #c5c8de;
}

.polaroidIF {
  border-radius: 10px;
}

div.polaroidIFP {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 70px;
  background: #c5c8de;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 100%;
  width: 100%;
}
div.polaroidIFP:hover {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.01);
}

.h1IstorichniFoto {
  left: 30%;
}

.list_menuAIFP {
  color: #5a5a7a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  font-size: calc(5px + 7.7 * (100vw - 320px) / 1280);
  right: 50%;
  margin: 10px;
}

.list_menuAIFPh1 {
  color: #5a5a7a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  font-size: calc(5px + 7.7 * (100vw - 320px) / 1280);
}

.list_menuAIFPK {
  font-size: calc(8.5px + 7.7 * (100vw - 320px) / 1280);
  color: #5a5a7a;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .list_menuAIFPK:hover {
    color: #000000;
    font-size: calc(8.7px + 7.7 * (100vw - 320px) / 1280);
    margin-left: 12px;
  }
  .list_menuAIFPh1:hover {
    color: #000000;
    font-size: calc(10.2px + 7.7 * (100vw - 320px) / 1280);
  }
}
.istorichniFotoPage {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.detailIF {
  margin-top: 100px;
  margin-left: 1%;
  margin-right: 1%;
}
.detailIF img {
  text-align: center;
  width: 50%;
  height: 40%;
}

.Andrew_DescentIF p {
  text-align: center;
}

.BIF {
  position: relative;
  font-size: 23px;
  color: #000000;
  top: 10px;
  left: 10px;
  bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 0px;
  font-size: 20pt;
  outline: none;
}
.BIF:hover {
  color: #5c5c5c;
}

.listIFP {
  margin-bottom: 20px;
}

.h2DetaliIF {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .header_burger {
    left: 50%;
  }
  .header_body {
    right: 50%;
  }
  div.polaroid {
    box-shadow: 0, 0, 0, 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    background: #dae3da;
    display: block;
    width: 100%;
  }
  .containerIF {
    background: #dae3da;
  }
  .polaroidIFP {
    background: #dae3da;
  }
  .preloader__item {
    background-color: #99e899;
  }
  .header {
    width: 100%;
    height: 50px;
  }
  .h1IF {
    position: relative;
    left: 35%;
  }
  .menu {
    display: none;
  }
  .page {
    margin-top: 60px;
  }
  a.kiev {
    display: none;
  }
  #ImgLeft {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
    height: 150px;
    width: 200px;
  }
  #ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;
    width: 200px;
  }
  .list_menuA {
    text-decoration: none;
    color: #426342;
  }
  h2 {
    font-size: calc(30px + 7.7 * (100vw - 320px) / 1280);
    color: #426342;
  }
  h3 {
    color: #426342;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: calc(25px + 7.7 * (100vw - 320px) / 1280);
  }
  html {
    background: #f5fff5;
  }
  .h1 {
    color: #002121;
    text-transform: uppercase;
    z-index: 3;
    font-size: calc(20px + 0.859375vw);
    left: 70%;
  }
  .h1IstorichniFoto {
    left: 20%;
    color: #002121;
    text-transform: uppercase;
    z-index: 3;
    font-size: calc(15px + 0.859375vw);
  }
  .h1DetaliIF {
    left: 50%;
  }
  .detailIF {
    margin-top: 150px;
  }
  .detailIF img {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
  }
  .h2DetaliIF {
    margin-bottom: 25px;
  }
  .list_menuAIFPK {
    font-size: 20px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  p {
    font-size: 10pt;
  }
  .headDetail {
    height: 45px;
  }
  .h1Detail {
    font-size: 25pt;
    color: #002121;
  }
  .wrapper {
    background: #f5fff5;
  }
  .preloader {
    background: #f5fff5;
  }
  .preloader__item {
    background-color: #99e899;
  }
  .detailA {
    color: #426342;
    font-size: 15pt;
  }
  .h1IstorichniFoto {
    left: 30%;
  }
}