
div.polaroid{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color:white;
	border-radius: 35px;
	margin-bottom: 70px;
    	background: #ccd0f1;
    	margin-right: auto;
    	margin-left: auto;
	display: block;
	height: 60%;
	width: 60%;
}
div.container{
	text-align: center;
	padding: 10px 20px;
	width: 100%
}
div.polaroid:hover{
	box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#ImgLeft{
    	margin-right: 10px;
	margin-left:auto;
   	margin-top: 10px;
}
#ImgRight{
    	margin-right: 15px;
	margin-left: 10px;
    	margin-top: 10px;
}
img{
    border-radius: 35px;
    margin-right: auto;	
    margin-left: auto;
    display: block;
    height: 60%;
    width: 60%;
}
.Img{
	border-radius: 35px 35px 0 0;
	width: 100%;
}
body{
	background: #E4E7FF;
	padding: 20px;
	margin: 25px;
	border: 1px;
}
html{
	background: #131817;
}
p{
	font-size: 20pt;
	color: #002424;
}
h2{
	border-radius: 30px;
	text-align: center;
	font-size: 35pt;
	color: #5A5A7A;
}
h3{
	border-radius: 30px;	
	text-align: center;
	font-size: 20pt;
	color: #3F404A;
}
h1{
	text-shadow: 4px 8px 4px rgba(0,0,0,0.2);
	text-decoration : none;
	border-radius: 30px;
	text-align: center;
	font-size: 35pt;
	color: #568852;
	padding: 2px;
}
a{
    text-decoration: none;
	border-radius: 5px;
	margin-left: 0px;
	font-size: 20pt;
	color: #2D6201;
	outline: none;
}
a:hover {
    box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom: 1px solid; 
    background: #52824F;    
}
@media only screen and (max-width: 600px){
	    div.polaroid{
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	    background-color:white;
	    border-radius: 35px;
	    margin-bottom: 70px;
	    background: #8CC88C;
            margin-right: auto;
            margin-left: auto;
	    display: block;
	    /*height:60%;*/
	    width: 100%;
	}
	a.kiev{
		display: none;
	}
	h2{
		border-radius: 30px;
		text-align: center;
		font-size: 35pt;
		color: #205620;
	}
	body{
		background: #ACC8AC;
		padding: 20px;
		margin: 25px;
		border: 1px;
	}
	h1{
		text-shadow: 4px 8px 4px rgba(0,0,0,0.2);
		text-decoration : none;
		border-radius: 30px;
		text-align: center;
		font-size: 35pt;
		color: #002121;
		padding: 2px;
	}
}
