* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a::visited {
  text-decoration: none;
}
a::hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 550;
}

div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 35px;
  margin-bottom: 70px;
  background: #ccd0f1;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 50%;
  width: 50%;
}
div.polaroid:hover {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

div.container {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}

#ImgLeft {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
  height: 400px;
  width: 650px;
}

#ImgRight {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
  height: 400px;
  width: 650px;
}

#H {
  height: 600px;
  width: 500px;
}

img {
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 80%;
  width: 60%;
}

.h1 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #568852;
  padding: 2px;
}

.Img {
  border-radius: 35px 35px 0 0;
  width: 100%;
}

p {
  font-size: 20pt;
  color: #002424;
}

.page {
  flex: 1 1 auto;
}

.footerDetail {
  padding: 5px;
}

.h1Detail {
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #568852;
  padding: 2px;
}
.h1Detail:hover {
  text-decoration: underline;
  cursor: pointer;
}

.h1detail:hover {
  color: #568852;
}

.detailA {
  text-decoration: none;
  border-radius: 5px;
  margin-left: 0px;
  font-size: 20pt;
  color: #2D6201;
  outline: none;
}
.detailA:hover {
  color: #000;
}

@media only screen and (min-width: 766px) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf?cgi77b") format("truetype"), url("../fonts/icons.woff?cgi77b") format("woff"), url("../fonts/icons.svg?cgi77b#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^=icon-]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-caret-up {
    position: fixed;
    bottom: 150px;
    right: 50px;
    font-size: 50px;
    z-index: 9999;
    color: #9C9FAF;
  }
  .icon-caret-up:before {
    content: "\e900";
  }
  .icon-caret-up:hover {
    color: #252532;
  }
  .isShowBtn {
    opacity: 1;
    transition: 0.4s;
  }
  .isShowBtn_hide {
    opacity: 0;
  }
  body {
    background: #E4E7FF;
  }
  body.lock {
    overflow: hidden;
  }
  html {
    background: #E4E7FF;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.con {
  margin: 135px 0px 0px 0px;
}

h2 {
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #5A5A7A;
  font-size: calc(24px + 0.859375vw);
  margin: 10px;
}

h3 {
  border-radius: 30px;
  text-align: center;
  font-size: 25pt;
  color: #3F404A;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  div.polaroid {
    box-shadow: 0, 0, 0, 0;
    background: #8cc88c;
    display: block;
    width: 100%;
  }
  .menu {
    display: none;
  }
  a.kiev {
    display: none;
  }
  #ImgLeft {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
    height: 150px;
    width: 200px;
  }
  #ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    height: 150px;
    width: 200px;
  }
  .list_menuA {
    text-decoration: none;
  }
  h2 {
    color: #205620;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: calc(24px + 7.7 * (100vw - 320px) / 1280);
  }
  html {
    background: #acc8ac;
  }
  .h1 {
    color: #002121;
    text-transform: uppercase;
    z-index: 3;
    align-items: center;
    font-size: calc(24px + 0.859375vw);
  }
  img {
    height: 100%;
    width: 100%;
  }
  p {
    font-size: 10pt;
  }
  .headDetail {
    height: 45px;
  }
  .h1Detail {
    font-size: 25pt;
    color: #002121;
  }
  .wrapper {
    background: #acc8ac;
  }
}
.menu {
  display: none;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header_list {
  display: flex;
  position: relative;
  z-index: -2;
  display: block;
}
.header_list li {
  margin: 10px 0px 0px 0px;
}

.h1 {
  text-transform: uppercase;
  z-index: 3;
  font-size: calc(24px + 0.859375vw);
  left: 50%;
  display: flex;
  position: relative;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #acafc1;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.list_menuA {
  color: #5a5a7a;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .list_menuA:hover {
    color: #000000;
    font-size: 19px;
  }
}
.header_burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.header_burger::before, .header_burger::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header_burger::before {
  top: 0;
}
.header_burger::after {
  bottom: 0;
}
.header_burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
}
.header_burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.header_burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header_burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header_menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccd0f1;
  display: block;
  text-align: left;
  transition: all 0.3s ease 0s;
  padding: 120px 10px 20px 10px;
  overflow: auto;
  z-index: -3;
}
.header_menu.active {
  top: 0;
}

body.lock {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .header_menu {
    background-color: #8cc88c;
  }
  .header::before {
    background-color: #4c7c4c;
  }
}