* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a::visited {
  text-decoration: none;
}
a::hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 550;
}

div.polaroid {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 35px;
  margin-bottom: 70px;
  background: #ccd0f1;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 50%;
  width: 50%;
}
div.polaroid:hover {
  -webkit-box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.container {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}

#ImgLeft {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
}

#ImgRight {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

img {
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 80%;
  width: 60%;
}

.header {
  padding: 0;
  margin: 0;
  display: block;
  height: 70px;
}

.h1 {
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #568852;
  padding: 2px;
}

.Img {
  border-radius: 35px 35px 0 0;
  width: 100%;
}

p {
  font-size: 20pt;
  color: #002424;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footerDetail {
  padding: 5px;
}

.h1Detail {
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #568852;
  padding: 2px;
}
.h1Detail:hover {
  text-decoration: underline;
  cursor: pointer;
}

.h1detail:hover {
  color: #568852;
}

a {
  text-decoration: none;
  border-radius: 5px;
  margin-left: 0px;
  font-size: 20pt;
  color: #2D6201;
  outline: none;
}
a:hover {
  -webkit-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid;
  background: #52824F;
}

@media only screen and (min-width: 766px) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.ttf?cgi77b") format("truetype"), url("../fonts/icons.woff?cgi77b") format("woff"), url("../fonts/icons.svg?cgi77b#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^=icon-]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-caret-up {
    position: fixed;
    bottom: 150px;
    right: 50px;
    font-size: 50px;
    z-index: 9999;
    color: #9C9FAF;
  }
  .icon-caret-up:before {
    content: "\e900";
  }
  .icon-caret-up:hover {
    color: #252532;
  }
  .isShowBtn {
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .isShowBtn_hide {
    opacity: 0;
  }
  .title h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: #5A5A7A;
  }
  .list_menuA {
    font-size: 25px;
    border-radius: 0;
    margin-left: 0px;
    padding-left: 5px;
    color: #fff;
    outline: none;
    border-left: 2px solid;
    color: #002424;
  }
  .list_menuA:hover {
    border-left: 2px solid;
    padding-left: 10px;
    -webkit-transition: all 0.2 ease;
    transition: all 0.2 ease;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: none;
  }
  .list_menuLi {
    margin: 20px 0;
    padding-left: 10px;
    -webkit-transition: all 0.2 ease;
    transition: all 0.2 ease;
  }
  .menu {
    padding: 5vh 50px;
    position: fixed;
    background: rgba(20, 20, 20, 0.1);
    height: 100vh;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-right: 15px solid #131817;
    border-top: 15px solid #131817;
    left: -620px;
    top: 0;
    overflow: auto;
  }
  .menu:hover {
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .list_menu {
    margin-bottom: 50px;
  }
  body {
    background: #131817;
  }
  html {
    background: #131817;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E4E7FF;
  margin: 15px;
  padding: 15px;
}

h2 {
  border-radius: 30px;
  text-align: center;
  font-size: 35pt;
  color: #5A5A7A;
  font-size: calc(24px + 0.859375vw);
  margin: 10px;
}

h3 {
  border-radius: 30px;
  text-align: center;
  font-size: 25pt;
  color: #3F404A;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  div.polaroid {
    -webkit-box-shadow: 0, 0, 0, 0;
            box-shadow: 0, 0, 0, 0;
    background: #8CC88C;
    display: block;
    width: 100%;
  }
  a.kiev {
    display: none;
  }
  h2 {
    color: #205620;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: calc(24px + 7.7 * (100vw - 320px) / 1280);
  }
  html {
    background: #ACC8AC;
  }
  .h1 {
    color: #002121;
  }
  img {
    height: 100%;
    width: 100%;
  }
  p {
    font-size: 10pt;
  }
  .headDetail {
    height: 45px;
  }
  .h1Detail {
    font-size: 25pt;
    color: #002121;
  }
  .wrapper {
    background: #ACC8AC;
  }
}