@media only screen and (max-width: 767px) {
    .header_burger {
        left: 45%;
        // display: block;
    }
    .header_body {
        right: 50%;
    }

    div.polaroid {
        box-shadow: 0, 0, 0, 0;
        background: #8cc88c;
        display: block;
        width: 100%;
    }

    .menu {
        display: none;
    }

    a.kiev {
        display: none;
    }

    #ImgLeft {
        margin-right: 10px;
        margin-left: auto;
        margin-top: 10px;
        height: 150px;
        width: 200px;
    }

    #ImgRight {
        margin-right: 15px;
        margin-left: 10px;
        margin-top: 10px;
        height: 150px;
        width: 200px;
    }

    .list_menuA {
        text-decoration: none;
    }

    h2 {
        font-size: calc(30px + (11 * 0.7) * ((100vw - 320px) / 1280));
        color: #003d00;
    }

    h3 {
        color: #205620;
        margin-right: 20px;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: calc(25px + (11 * 0.7) * ((100vw - 320px) / 1280));
    }

    html {
        background: #acc8ac;
    }

    .h1 {
        color: #002121;
        text-transform: uppercase;
        z-index: 3;
        font-size: calc(35px + 11 * (100vw / 1280));
        left: 60%;
    }
    .h1IstorichniFoto {
        left: 90px;
        color: #002121;
        text-transform: uppercase;
        z-index: 3;
        font-size: calc(15px + 11 * (100vw / 1280));
    }
    .h1DetaliIF {
        left: 50%;
    }

    .detailIF {
        margin-top: 150px;
        & img {
            text-align: center;
            padding: 10px 20px;
            width: 100%;
            height: 100%;
        }
    }

    .h2DetaliIF {
        margin-bottom: 25px;
    }
    .list_menuAIFPK {
        font-size: 20px;
    }

    img {
        height: 100%;
        width: 100%;
    }

    p {
        font-size: 10pt;
    }

    .headDetail {
        height: 45px;
    }

    .h1Detail {
        font-size: 25pt;
        color: #002121;
    }

    .wrapper {
        background: #acc8ac;
    }
}
