@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?cgi77b") format("truetype"), url("../fonts/icons.woff?cgi77b") format("woff"),
    url("../fonts/icons.svg?cgi77b#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-up {
  &:before {
    content: "\e900";
  }

  position: fixed;
  bottom: 150px;
  right: 50px;
  font-size: 50px;
  z-index: 9999;
  color: #9c9faf;

  &:hover {
    color: #252532;
  }
}

.isShowBtn {
  opacity: 1;
  transition: 0.4s;

  &_hide {
    opacity: 0;
  }
}
