@media only screen and (max-width: 767px) {
    .h1IstorichniFoto {
        font-size: calc(10px + 11 * (100vw / 1280));
    }
}

.IstorichniFotoA {
    color: #000000;
    &:hover {
        font-size: calc(30.1px + (11 * 0.7) * ((100vw - 320px) / 1280));
    }
}

.h1IstorichniFoto {
    z-index: 3;
    font-size: calc(35px + 11 * (100vw / 1280));
    left: 33%;
    display: flex;
    position: relative;
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    //font-size: 35pt;
    color: #568852;
    padding: 2px;
}

.list_menuAIFP {
    color: #5a5a7a;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    font-size: calc(5px + (11 * 0.7) * ((100vw - 320px) / 1280));
    right: 50%;
    // right: 100%;
    margin: 10px;
}

.list_menuAIFPh1 {
    color: #5a5a7a;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    font-size: calc(5px + (11 * 0.7) * ((100vw - 320px) / 1280));
}

@media only screen and (min-width: 768px) {
    .list_menuAIFP:hover {
        // background: #000;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #000000;
        font-size: calc(5.2px + (11 * 0.7) * ((100vw - 320px) / 1280));
    }

    .list_menuAIFPh1:hover {
        // background: #000;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #000000;
        font-size: calc(10.2px + (11 * 0.7) * ((100vw - 320px) / 1280));
    }

    .BIF:hover {
        font-size: 23.5px;
    }
}

.istorichniFotoPage {
    margin-right: auto;
    margin-left: auto;
}

.Andrew_DescentIF {
    & p {
        text-align: center;
    }
}
.BIF {
    position: relative;
    font-size: 23px;
    color: #000000;
    top: 10px;
    left: 10px;
}

.listIFP {
    margin-bottom: 20px;
}
