.polaroidh {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // background-color: white;
    border-radius: 35px;
    margin-bottom: 70px;
    // background: #c5c8de;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: #426342;
    width: 30%;
    height: 30%;
    &:hover {
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
    }
}

div.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // background-color: white;
    border-radius: 35px;
    margin-bottom: 70px;
    // background: #c5c8de;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 50%;
    width: 50%;
    color: #426342;

    &:hover {
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
    }
}

div.container {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    border-radius: 35px;
}

#ImgLeft {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
    height: 400px;
    width: 650px;
    margin: 15px;
}

#ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    height: 50%;
    width: 50%;
    margin: 10px;
}

#H {
    height: 30%;
    width: 30%;
}

img {
    border-radius: 35px;
    display: flex;
    height: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    height: 400px;
    width: 650px;
    margin: 10px;
}

#ImgKu {
    height: 500px;
    width: 550px;
}

// .h1 {
//     position: relative;
//     z-index: 2;
//     display: flex;
//     justify-content: space-between;

//     align-items: center;
// }
