.menu {
    display: none;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_list {
    display: flex;
    position: relative;
    z-index: -2;
    display: block;

    & li {
        margin: 10px 0px 0px 0px;
    }
}

.h1 {
    text-transform: uppercase;
    z-index: 3;
    font-size: calc(24px + 11 * (100vw / 1280));
    left: 50%;
    display: flex;
    position: relative;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #acafc1;
        z-index: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.list_menuA {
    color: #5a5a7a;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
}
@media only screen and (min-width: 768px) {
    .list_menuA:hover {
        // background: #000;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #000000;
        font-size: 19px;
    }
}

.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;

    &::before,
    &::after {
        content: "";
        background: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    & span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
    }

    &.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    &.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
}

.header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccd0f1;
    display: block;
    text-align: left;
    transition: all 0.3s ease 0s;
    padding: 120px 10px 20px 10px;
    overflow: auto;
    z-index: -3;

    &.active {
        top: 0;
    }
}

body.lock {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .header_menu {
        background-color: #8cc88c;
    }
    .header {
        &::before {
            background-color: #4c7c4c;
        }
    }
}
