// .footer {}

div.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 35px;
    margin-bottom: 70px;
    background: #ccd0f1;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 50%;
    width: 50%;


    &:hover {
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.1);
    }
}

div.container {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

#ImgLeft {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
}

#ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    border-radius: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 80%;
    width: 60%;
}

.header {
    padding: 0;
    margin: 0;
    display: block;
    height: 70px;
}

.h1 {
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #568852;
    padding: 2px;
}