.menu {
    display: none;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
    display: block;

    & li {
        margin: 10px 0px 0px 0px;
    }
}

.h1 {
    text-transform: uppercase;
    z-index: 3;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ACAFC1;
        z-index: 2;
    }
}

.list_menuA {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: right;

}

.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;

    &::before,
    &::after {
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    & span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    &.active span {
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }

    &.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;

    }
}

.header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: block;
    text-align: left;
    transition: all 0.3s ease 0s;
    padding: 120px 10px 20px 10px;

    &.active {
        top: 0;
    }
}