@import "_scss/_nullstyles";
@import "_scss/_mainPage";
@import "_scss/_detailPage";

@media only screen and (min-width: 766px) {
    @import "_scss/_iconsfont";

    body {
        background: #e4e7ff;

        &.lock {
            overflow: hidden;
        }
    }

    html {
        background: #e4e7ff;
    }
}

.Andrew_DescentPage {
    &.Show {
        display: inline;
    }
    &.Hide {
        display: none;
    }
}

.mainPage {
    margin-top: -60px;
    &.Hide {
        display: none;
    }
    &.Show {
        display: inline;
    }
}

.Page {
    position: relative;
    bottom: 35px;
    display: none;

    & h2 {
        position: relative;

        bottom: 10px;
        margin: 15px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    margin: 15px;
    // padding: 120px 0px 0px 0px;
}

.con {
    margin: 135px 0px 0px 0px;
}

h3 {
    border-radius: 30px;
    text-align: center;
    font-size: 25pt;
    color: #383c5e;
    font-size: calc(25px + (11 * 0.7) * ((100vw - 320px) / 1280));
    margin: 10px;
}

h2 {
    border-radius: 30px;
    text-align: center;
    font-size: calc(30px + (11 * 0.7) * ((100vw - 320px) / 1280));
    color: #383c5e;
    margin: 0px;
}

.hide {
    display: none;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e4e7ff;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #8691e3;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

footer.loaded {
    display: none;
}

@import "_scss/_menu";
@import "_scss/istorichniFoto";
@import "_scss/_adaptive";
