@import "_nullstyles";
@import "_mainPage";
@import "_detailPage";

@media only screen and (min-width: 766px) {
    @import "_iconsfont";


    body {
        background: #E4E7FF;

        &.lock {
            overflow: hidden;
        }
    }

    html {
        background: #E4E7FF;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    margin: 15px;
    padding: 120px 0px 0px 0px;
}

h2 {
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #5A5A7A;
    font-size: calc(24px + 11 * (100vw / 1280));
    margin: 10px;
}

h3 {
    border-radius: 30px;
    text-align: center;
    font-size: 25pt;
    color: #3F404A;
    margin: 10px;
}



@import "_adaptive";
@import "_menu";