@import "nullstyles.scss";


@media only screen and (min-width: 766px) {
    @import "iconsfont.scss";

    body {
        background: #131817;
    }

    html {
        background: #131817;
    }
}

div.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 35px;
    margin-bottom: 70px;
    background: #ccd0f1;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 50%;
    width: 50%;

    &:hover {
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.1);
    }
}

div.container {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

#ImgLeft {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
}

#ImgRight {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    border-radius: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 60%;
    width: 60%;
}

.header {
    padding: 0;
    margin: 0;
    display: block;
    height: 70px;
}

.headDetail {}

.Img {
    border-radius: 35px 35px 0 0;
    width: 100%;
}





p {
    font-size: 20pt;
    color: #002424;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #E4E7FF;
    margin: 15px;
    padding: 15px;


}


.page {
    flex: 1 1 auto;
}

.footer {}

.footerDetail {
    padding: 5px;
}

h2 {
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #5A5A7A;
    font-size: calc(24px + 11 * (100vw / 1280));
    margin: 10px;
}

h3 {
    border-radius: 30px;
    text-align: center;
    font-size: 25pt;
    color: #3F404A;
    margin: 10px;
}

.h1 {
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #568852;
    padding: 2px;
}

.h1Detail {
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #568852;
    padding: 2px;
}

a {
    text-decoration: none;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 20pt;
    color: #2D6201;
    outline: none;

    &:hover {
        box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom: 1px solid;
        background: #52824F;
    }
}



@import "adaptive.scss";