@import "nullstyles.scss";
@import "mainPage.scss";
@import "detailPage.scss";

@media only screen and (min-width: 766px) {
    @import "iconsfont.scss";

    body {
        background: #131817;
    }

    html {
        background: #131817;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #E4E7FF;
    margin: 15px;
    padding: 15px;
}

h2 {
    border-radius: 30px;
    text-align: center;
    font-size: 35pt;
    color: #5A5A7A;
    font-size: calc(24px + 11 * (100vw / 1280));
    margin: 10px;
}

h3 {
    border-radius: 30px;
    text-align: center;
    font-size: 25pt;
    color: #3F404A;
    margin: 10px;
}

@import "adaptive.scss";