@import "_scss/_nullstyles";
@import "_scss/_mainPage";
@import "_scss/_detailPage";

@media only screen and (min-width: 766px) {
    @import "_scss/_iconsfont";

    body {
        background: #e4e7ff;

        &.lock {
            overflow: hidden;
        }
    }

    html {
        background: #e4e7ff;
    }
}

.Page {
    position: relative;
    bottom: 35px;

    & h2 {
        position: relative;

        bottom: 10px;
        margin: 15px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    margin: 15px;
    // padding: 120px 0px 0px 0px;
}

.con {
    margin: 135px 0px 0px 0px;
}

h3 {
    border-radius: 30px;
    text-align: center;
    font-size: 25pt;
    color: #5a5a7a;
    font-size: calc(25px + (11 * 0.7) * ((100vw - 320px) / 1280));
    margin: 10px;
}

h2 {
    border-radius: 30px;
    text-align: center;
    font-size: calc(30px + (11 * 0.7) * ((100vw - 320px) / 1280));
    color: #3f404a;
    margin: 0px;
}

.hide {
    display: none;
}

@import "_scss/_menu";
@import "_scss/istorichniFoto";
@import "_scss/_adaptive";
