// .headDetail {}

.Img {
    border-radius: 35px 35px 0 0;
}

p {
    font-size: 20pt;
    color: #002424;
}

.page {
    margin-top: -70px;
    flex: 1 1 auto;
}

.footerDetail {
    padding: 5px;
}

.h1Detail {
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: calc(35px + 11 * (100vw / 1280));
    color: #568852;
    padding: 2px;

    // &:hover {
    //     // text-decoration: underline;
    //     // cursor: pointer;
    // }
}
.h1detail:hover {
    color: #568852;
    font-size: calc(35px + 11 * (100vw / 1280));
}

.detailA {
    text-decoration: none;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 20pt;
    color: #383c5e;
    outline: none;

    &:hover {
        // box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // border-bottom: 1px solid;
        // background: #52824F;
        color: #000;
    }
}
